[defaults]
inventory = ./hosts
remote_user = ubuntu
host_key_checking = False
interpreter_python = /usr/bin/python3
callback_result_format = yaml
deprecation_warnings = False
retry_files_enabled = False

[privilege_escalation]
become = true
