# {{ ansible_managed }}
{% if db_engine == 'mysql' %}
DINO_DB_URL=mysql://{{ db_user | urlencode }}:{{ db_password | urlencode }}@127.0.0.1/{{ db_name }}
{% elif db_engine == 'postgres' %}
DINO_DB_URL=postgres://{{ db_user | urlencode }}:{{ db_password | urlencode }}@127.0.0.1/{{ db_name }}
{% else %}
DINO_DB_URL=sqlite:///{{ sqlite_path }}
{% endif %}
DINO_BACKUP_DIR={{ backup_dir if backup_enabled else '' }}
DINO_CONFIG=/opt/dino/config.json
DINO_LEADERBOARD_SIZE={{ leaderboard_size }}
DINO_CACHE_TTL={{ cache_ttl }}
